.section-one {
	position: relative;
	min-height: 100vh;
	background: url('../images/main_bg.jpg') 50%/cover no-repeat;
	padding-top: 206px;
	&__supheader {
		position: relative;
		z-index: 1;
		padding-left: 10px;
		@include before-circle;
	}
	&__header {
		margin-top: 12px;
		width: 532px;
	}
	&__links {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-top: 25px;
	}
	&__portfolio {
		margin-right: 44px;
	}
	&__about {
		color: #000000;
		font-size: 14px;
		font-weight: 700;
		&:hover {
			color: $black-color-hover;
			text-decoration: none;
		}
	}
}